/* style de couleur devint pour les couleurs */
/* .il y a seulement les ocmposant utilisés dans les exemples, à vous de compléter en
 * respectant la cohérence des couleurs.
 * NOTA: pour choisir les couleurs : http://www.w3schools.com/colors/colors_picker.asp
 */

/* contrasté jaune  */

.root {
    -fx-background: #f2e6d9;
}

.grid-pane {
    -fx-background-color: #f2e6d9;
}

.fond {
    -fx-fill: #f2e6d9;
}

.button {
    -fx-background-color: #f2e6d9,
    #4d3319;
    -fx-background-insets: 0, 5;
    -fx-background-radius: 0, 20;
    -fx-padding: 10, 10, 10, 10;
    -fx-text-fill: #f2e6d9;
}

.label {
    -fx-background-color: #4d3319,
    #f2e6d9;
    -fx-background-insets: 0, 5;
    -fx-background-radius: 0, 20;
    -fx-padding: 10, 10, 10, 10;
    -fx-text-fill: #4d3319;
}

.selectedbutton {
    -fx-background-color: #4d3319,
    #f2e6d9;
    -fx-background-insets: 0, 5;
    -fx-background-radius: 0, 20;
    -fx-padding: 10, 10, 10, 10;
    -fx-text-fill: #4d3319;
}

.unselectedbutton {
    -fx-background-color: #f2e6d9,
    #4d3319;
    -fx-background-insets: 0, 5;
    -fx-background-radius: 0, 20;
    -fx-padding: 10, 10, 10, 10;
    -fx-text-fill: #f2e6d9;
}


