/* préférences de fontes pour écrire petit */

.selectedbutton {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.unselectedbutton {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}